/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }

.nav-font{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

body{
    padding: 0 15px;
}

.content{
    display: flex;
}

.nav{
    display: flex;
}

.nav-item{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    border-collapse: collapse;
}

.nav-item:hover{
    background-color: gray;
}

/* Bagian kiri */

.content-left{
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    width: 50%;
}

.title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-image img {
}

.img-slideshow{
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

/* Bagian Kanan */

.content-right{
    box-sizing: border-box;
    width: 50%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black;
    background: darkslategray;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover{
    background: white;
    color: black;
}

.content-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: gray;
}

label{
    margin-bottom: 5px;
}

.content-image span {
    color: gray;
    align: center;
}

input{
    margin-bottom: 10px;
    padding: 8px 2px;
}

select{
    padding: 8px 2px;
}

center{
    font-weight: bold;
    margin-bottom: 30px;
}

.content-bawah{
    display: flex;
    flex-direction: column;
}


.circle{
    display: flex;
    justify-content: center;
    background: lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    margin-right: 15px;
}

.pembatas{
    display: flex;
    height: 250px; 
    background-color: gray;
}

.pembatas-font{
    display: flex;
    margin: auto;
    text-align: center;
    width: 250px;
}

.penawaran{
    display:flex; 
    flex-direction: row; 
    margin: 10px;
}


.closing{
    height: 250px; 
    border-top: 1px solid;
}

.closing-font{    
    font-weight: bold; 
    display: flex; 
    flex-direction: column;
    margin: 0; 
    align-items: center;
    position: relative;
    top: 20%;
}

.button-call{
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black;
    background: darkslategray;
    color: white;
    width: 200px;
    padding: 15px;
    margin-top: 25px;
    cursor: pointer;
}

.button-call:hover{
    background: white;
    color: black;
}

footer{
    margin-top: 20px;
    border-top: 1px solid;
}
.footer{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    .nav{
        width: 100%;
        flex-direction: column;
        justify-items: center;
    }
    .nav-font{
        align-content: center;
        margin-bottom: 15px;
    }
    .content{
        flex-direction: column ;
        margin-bottom: 15px;
    }
    .content-image{
        width: max-content;
        margin-bottom: 15px;
    }
    .content-form{
        width: max-content;
        margin-bottom: 15px;
    }
    .content-bawah{
        align-items: center;
        margin-bottom: 15px;
    }
    .pembatas{
        width: max-content;
        margin-bottom: 15px;
    }
    .penawaran{
        flex-direction: column;
    }
}